<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
 
    <title>Declaration</title>
</head>
<body class="bg-white text-dark" style="font-family: 'Times New Roman', Times, serif;">
    <div id="header">
        <img src="../images/header_declaration.jpg" />
    </div>
    <div id="context" class="m-1">
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-4" style="font-weight:bold ;">
                <label>Ref No.
                    <input style="border:none; font-weight: bold;" type="text" />
                </label>
            </div>
            <div class="col-2"></div>
            <div class="col-4" style="font-weight:bold; padding-left:100px;">
                <label>Date: 
                    <input style="border:none; font-weight:bold;" type="date" />
                </label>
            </div>
        </div>
        <div class="row mt-4" style="padding-left:230px ;">
            <h1 style="font-weight:bolder;"><u>TO WHOM IT MAY CONCERN</u></h1>
        </div>
        <div class="row" style="padding-left:80px ;">
            <h3 class="mt-3">TO, </h3>
        </div>
        <div class="row">
             <input style="margin-left: 150px; width: 80%; border: none; font-weight: bold; font-size: x-large;"  type="text" />
        </div>
        <div class="row">
            <p style="margin-left: 100px;">Sub:- Declaration for non-deduction of tax at source (TDS) under <b>194C (6) of Income Tax Act 1961</b></p>
        </div>
        <div class="row mt-1 mx-1">
            <p style="margin-left: 70px;"><b>This is to certify that,</b></p>
        </div>
       
        <p style="margin-left: 50px; margin-right: 50px;">1). <b>Mr.<span class="name"></span></b> is the sole proproetier of <b><span class="company"></span>.</b></p>
      
        <p style="margin-left: 50px; margin-right: 50px;">2). The <b>PERMANENT ACCOUNT NUMBER</b> of <b>Mr.<span class="name"></span></b> is <b><span class="pan"></span></b> (A self photocopy of the same is attached here to with this declaration).</p>

        <p style="margin-left: 50px; margin-right: 50px;">3). <b><span class="company"></span>.</b> is engaged in the business of plying, hiring, leasing of goods carriage for it's business.</p>

        <p style="margin-left: 50px; margin-right: 50px;">4). <b><span class="company"></span>.</b> does not own (whether register or beneficial owner) more than ten goods carriage as on this date.</p>

        <p style="margin-left: 50px; margin-right: 50px;">5). If the number of goods carriage owned (whether register or beneficial owner) by <b><span class="company"></span></b>.</p>

        <p style="margin-left: 50px; margin-right: 50px;">6). Exceeds ten at any time during the financial year of <b class="financial_year">2022-2023</b>, then <b><span class="company"></span></b> undertake to intimate you forth with in writing of this fact.</p>

        <p style="margin-left: 50px; margin-right: 50px;">7). In the event of any deafult <b><span class="company"></span></b> undetakes to indemnify you for any costs, taxes expenses and any other liability that may arise upon you.</p>

        <div class="row" style="margin-left: 40px; margin-right: 50px; margin-top: 10px;">
            <p >I, <b><span class="name"></span></b> - sole proprietor acting for and on behalf of <b><span class="company"></span></b>, do hereby make the above declaration as required under sub-section (6) of section <b>194C of INCOME TAX ACT 1961</b> for receiving payment from your company without deduction of tax source (TDS).</p>
        </div>
             
        <div class="row" style="margin-left: 40px; margin-right: 50px; margin-top: 7px;">
            <p >The above points of the declaration as stated are true & correct to my knowledge and belief and no part of it is false and nothing material has been concealed in it.</p>
        </div>

        <div class="row mt-5" style="margin-left: 20px;">
            <div class="col-6">
                <img height="280px" width="100%" style="background-color:white;" src="../images/pancard_declaration.jpg" />
            </div>
            <div class="col-6 mt-2">
                <div class="row text-center" style="background-color:white;">
                    <img height="160px" width="90%" style="background-color:white;" src="../images/sharp_sign_new.png" />
                </div>
                <div class="row text-start">
                    <h5 class="text-center"><b>(Sig.Proprietor / Authorized)</b></h5>
                    <h3 class="mx-3"><b><span class="address"></span></b></h3>
                </div>
            </div>
        </div>

    </div>
    <script src="../../data/data.js"></script>
    <script src="./declaration.js"></script>
</body>
</html>